<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="general-background">
<head>
    <title>Score</title>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body class="general-background">
    <div class="divRow_button">
        <div class="divCell" align="left" style="width:5%;"></div>
        <div class="divCell" align="center" style="width:95%;">
            <input type="submit" value="Play Again" class="buttons"/>
        </div>
    </div>
    <div class="divRow_button">
        <div class="divCell" align="left" style="width:5%;"></div>
        <div class="divCell" align="center" style="width:95%;">
            <input type="submit" value="End Game" class="buttons"/>
        </div>
    </div>
    <p>Get your greeting <a href="/addPlayers">here</a></p>
</body>
</html>